@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*    UNIVERSAL    */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-image: linear-gradient(#0B0C10, #211951,#0B0C10);
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}


/*    LOGO    */
.logo {
  position: absolute;
  top: -1.06%;
  left: 1.1%; 
  z-index: 1000;
}
.logo img {
  margin-top: -8.5px;
  margin-left: -19px;
  width: 23vh; 
  height: 23vh; 
  display: block;
}

h1 {
  font-family: 'Tanker', sans-serif;
  color: #15F5BA;
  font-size: 8vh;
  letter-spacing: 2px;
  margin: -107px 0 0 95px;
}

/*    NAVIGATION BAR    */
.nav-bar {
  padding-right: 15px;
  padding-left: 15px;
  background-color: transparent;
  
}

.nav-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}

.nav-buttons {
   background-color: transparent;
   margin-top: 17px;
   margin-left: 150vh;
   border-radius: 10px;
   padding: 10px;
   border: transparent;
   display: flex;
   justify-content: center;
   align-items: center;
}

a {
  font-size: 15px;
  color: black;
  font-weight: bold;
  list-style: none;
}

.out-button {
  border: none;
  margin-left: 20px; 
  font-family: 'General Sans', sans-serif;
  letter-spacing: 3px;
  background-color: #15F5BA;
  padding: 8px 15px 8px;
  border:none;
  border-radius: 15px;
}

.add-button {
  border: none;
  margin-left: -30px ;
  font-family: 'General Sans', sans-serif;
  letter-spacing: 3px;
  background-color: #15F5BA;
  padding: 8px 15px 8px;
  border:none;
  border-radius: 15px;
}

/*    LOST AND FOUND TITLE    */
.head {
  height: auto;
  padding-bottom: 5%;
}

.h3-lost-items {
  font-family: 'Tanker', sans-serif;
  color: #15F5BA;
  font-size: 10vh;
  letter-spacing: 5px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

.h3-found-items {
  font-family: 'Tanker', sans-serif;
  color: #15F5BA;
  font-size: 10vh;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.head-2 {
  height: auto;
}

/*    CARD BODY    */
.lost-items-div {
  width: 300px;
  height: 470px;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  background-color: white;
  padding: 20px;
  height: 370px;
  width: 200px;
  border-radius: 10px;
}

.card-img {
  width: 240px;
  height: 180px;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  background-color: black;
  margin-left: -20px;
  margin-bottom: 10px;
  margin-top: -20px;
}


.cardImg-1,
.cardImg-2,
.cardImg-3,
.cardImg-4,
.cardImg-5,
.cardImg-6,
.cardImg-7,
.cardImg-8 {
  width: 240px;
  height: 180px;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  background-color: black;
  margin-left: -20px;
  margin-bottom: 10px;
  margin-top: -20px;
}

h3 {
  font-family: 'General Sans', sans-serif;
  margin-bottom: 12px;
}

p{
  font-family: 'General Sans', sans-serif;
  margin-bottom: 15px;
}

.description-1,
.description-2,
.description-3,
.description-4,
.description-5,
.description-6,
.description-7,
.description-8 {
  margin-bottom: 15px;
}

.lost-item-separator {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  width: 85%;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}





/*  Hover  */


